#wall {
  display: block;
  position: relative;
  margin: auto;
  top: 15%;
  height: 70%;
  width: 60%;
  min-width: 500px;
  min-height: 450px;
  margin-bottom: 15vh;
  color: #6D6D6D;
}

.modal-content {
  display: block;
  position: relative;
  top: 20px;
  left: 7%;
  width: 86%;
}
