#wall {
  display: block;
  position: relative;
  margin: auto;
  top: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  overflow: auto;
  width: 60%;
  min-width: 500px;
  min-height: 450px;
  margin-bottom: 15vh;
  color: #6D6D6D;
  scroll: touch;
}

#wall-background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  font-family: 'Futura';
  overflow-y: scroll;
  scroll: touch;
  color: #6D6D6D;
}

.modal-content {
  display: block;
  position: relative;
  top: 60px;
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 15%;
  left: -2%;
}

.profile-picture {
  display: block;
  position: relative;
  margin: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 24px;
  background-color: #C9C9C9;
}

.profile-title {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
}

.profile-title-bar {
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  opacity: 0.5;
}

.wall-status-update {
  width: 100%;
  position: relative;
  display: block;
  left: 0px;
  margin-left: 0px;
  height: 30px;
  margin-botton: 30px;
}

#wall-status-input {
  width: 83%;
  padding-left: 2%;
  margin-bottom: 20px;
  margin-right: 2%;
  float: left;
  background-color: white;
  color: #BDBDBD;
}

::placeholder {
  color: #6D6D6D;
}

::placeholder:hover {
  color: #6D6D6D;
}

#wall-status-btn {
  width: 12%;
  float: left;
}

#wall-edit-info-btn {
  width: 12%;
  min-width: 35px;
  float: left;
  transition: all .1s ease-in-out;
}

#wall-save-info-btn {
  width: 12%;
  min-width: 35px;
  float: left;
  margin-left: 5px;
  transition: all .1s ease-in-out;
}

#add-friend-btn {
  width: 26%;
  min-width: 80px;
  margin-top: 15px;
  margin: auto;
}


.wall-card {
  margin-bottom: 40px;
}

.wall-prof-pic {
  height: 35px;
  width: 40px;
  background-color: #DADADA;
  border-radius: 50%;
}

.wall-card-info {
  width: 100%;
  background-color: #F1F1F1;
  overflow-y: hidden;
}

.wall-user-name {
  font-size: 10px;
  position: relative;
  margin-top: 10px;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}

.wall-status {
  position: relative;
  left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  width: 90%;
  top: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
}

.wall-wall {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: black;
}

.wall-clickable {
  color: #8F6363;
  cursor: pointer;
}

.wall-clickable:hover {
  text-decoration: underline;
}

.wall-friend-status {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.account-info {
  position: fixed;
  right: -30%;
  top: 20%;
  width: 25%;
  letter-spacing: 0.1rem;
  margin: none;
  z-index: -1;
}

.account-info-title {
  font-size: 10px;
}

.account-info-content {
  font-size: 12px;
  background-color: white;
  color: #6D6D6D;
}

.account-info-content:hover {
  background-color: white;
}

.account-info-content-active {
  color: white;
  background-color: #D3D2D2;
}

.account-info-content-active::placeholder {
  color: white;
  background-color: #D3D2D2;
}

.account-info-content-active:hover {
  color: white;
  background-color: #D3D2D2;
}

.parallax {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}

.wall-hidden {
  opacity: 0;
}

.wall-shown {
  opacity: 1;
}

.btn-disabled {
  background-color: #BABABA;
}

.btn-disabled:hover {
  color: #6D6D6D;
}

.friendship-status {

}

.wall-comment-card {
  position: relative;
  left: 15px;
  margin-bottom: 2px;
  font-size: 10px;
  width: 90%;
  background-color: white;
  border-radius: 15px;
}

.wall-comment-text {
  padding: 10px;
  margin-bottom: 10px;
}

.wall-comment-user {
  font-size: 10px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.wall-add-comment {
  position: relative;
  margin-bottom: 2px;
  font-size: 14px;
  width: 90%;
  top: 0px;
  left: 15px;
  margin-left: 0px;
}

.wall-comment-input {
  width: 80%;
  margin-left: 0px;
  float: left;
  border-radius: 15px;
  margin-bottom:20px;
}

.wall-comment {
  width: 80px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  /* margin-left: 5px; */
  position: relative;
  float: left;
  top: 5px;
  float: right;
  background-color: #F1F1F1;
  color: #6D6D6D;
  border: solid 1px #6D6D6D;
  transition: all .2s ease-in-out;
  margin-bottom: 10px;
  margin-top: -4px;
}

.wall-comment:hover {
  background-color: #6D6D6D;
  color: #F1F1F1;
}
