<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="css/chat.css">
</head>

<script type="text/javascript">

    var currentChat = "";
    var socket = io.connect('http://localhost:8080/');

    // Find your chats and populate
    window.onload = function () {
        $.post( "/getchats", null, function(results) {
            if(results.error) {
                alert(results.error);
            }
            else{
                results.forEach(function(result) {
                    var users = "";
                    result.users.forEach(function(user) {
                        users += (user + " /  ");
                    });

                    div = document.createElement('div');
                    $(div).addClass("newchat-cards")
                        .html(users)
                        .appendTo($("#activeChatList")) //main div
                        .click(function (event) {
                            currentChat = event.target.id;
                            socket.emit('join room', currentChat);
                            buildChat();
                        })
                        .attr("id",result.chat);
                });

            }
        });
    }

    var createChat = function() {
	var data = {"username": $('input[name="username"]').val(), }

        $.post( "/createchat", data, function(result) {
            if(result.error) {
                alert(result.error);
            }
            else{
                currentChat = result.chatid;
                socket.emit('join room', currentChat);
                buildChat();
            }
        });

    }
    
    var buildChat = function() {

        document.getElementById('activeChatList').style.display = "none";
        document.getElementById('createChat').style.display = "none";
        document.getElementById('chatWindow').style.display = "block";
        document.getElementById('chat').style.display = "block";
        document.getElementById('addUser').style.display = "block";
        document.getElementById('removeUser').style.display = "block";

        var chatWindow = document.getElementById('chatWindow');

        var chatTitle = document.getElementById('chatTitle');

        $.post( "/fetchchat", {'chatID': currentChat}, function(result) {
            if(result.error) {
                alert(result.error);
            }
            else{

                chatTitle.innerHTML = result.chatTitle;

                var chats = result.chats.Items;

                chats.forEach(chat => {
                    div = document.createElement('div');
                    $(div).addClass("newchat-cards")
                        .html("("+chat.username+") "+chat.data)
                        .appendTo($("#chatWindow")) //main div
                });
            }
        });
    }

    var addUser = function() {
        var data = {"username": $('input[name="addusername"]').val(), "chatID": currentChat};

        $.post( "/adduser", data, function(result) {
            if(result.error) {
                alert(result.error);
            }
            else{
                if (result.chatID === currentChat) {
                    div = document.createElement('div');
                    $(div).addClass("newchat-cards")
                        .html(data.username+" was added to this chat")
                        .appendTo($("#chatWindow")) //main div
                }
                else {
                    var chatWindow = document.getElementById('chatWindow');
                    chatWindow.innerHTML = '';
                    currentChat = result.chatID;
                    socket.emit('join room', currentChat);
                    buildChat();
                }
            }
        });
    }

    var leaveChat = function() {

    }

    var chat = function() {
        var data = {"message": $('input[name="message"]').val(), 
                    "chatID": currentChat};

        socket.emit('post message', data);
    }   

    const addChatMessage = (data) => {
        div = document.createElement('div');
        $(div).addClass("newchat-cards")
            .html("("+data.username+") "+data.message)
            .appendTo($("#chatWindow")) //main div
    }

      // Whenever the server emits 'new message', update the chat body
    socket.on('new message', (data) => {
        addChatMessage(data);
    });
	

</script>

<body>
    <p id="activeChatList">Active Chats<br></p>

    <p id="chatTitle"></p>

    <p id="chatWindow">

    </p>

    <form method="post" action="javascript:createChat();" id="createChat">
        Who would you like to chat? <input type="text" name="username" placeholder="username" required="required">
        <input type="submit" value="Create Chat">
    </form>

    <form style="display:none" id="chat" action="javascript:chat();">
            <input type="text" name="message" placeholder="message" required="required">
            <input type="submit" value="Submit">
    </form>

    <form style="display:none" id="addUser" action="javascript:addUser();">
        Who would you like to add to the chat? <input type="text" name="addusername" placeholder="username" required="required">
        <input type="submit" value="Add user">
    </form>

    <form style="display:none" id="removeUser" action="javascript:removeUser();">
            Who would you like to remove from the chat? <input type="text" name="removeusername" placeholder="username" required="required">
            <input type="submit" value="Remove user">
    </form>
</body>