<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
  <link rel="manifest" href="images/site.webmanifest">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="background">
      <div class="modal" id="login">
        <form class="signup-hidden" id="signup-form" action="/create" method="POST">
          <div class="logo"></div>
          <label for="firstname" id="signup-firstname-label">First Name</label>
          <input type="text" name="firstname" id="signup-firstname" required>
          <label for="lastname" id="signup-lastname-label">Last Name</label>
          <input type="text" name="lastname" id="signup-lastname" required>
          <label for="birthday" id="signup-birthday-label">Birthday</label>
          <input type="date" name="birthday" id="signup-birthday" required>
          <label for="affiliation" id="signup-affiliation-label">Affiliation</label>
          <input type="text" name="affiliation" id="signup-affiliation" required>
          <label for="interests">Add 1 interest (you can add more later):</label>
          <input type="text" name="interest" id="interest" required>
          <label for="username">Username</label>
          <input type="text" name="username" id="signup-username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="signup-password" required>

          <%if (error != null) { %>
            <p class="error-msg" id="login-error-msg"><%= error %></p>
          <% } %>

          <input type="submit" name="signuppostbtn" value="SIGN UP" class="primary-btn" id="login-signup-post-btn">
        </form>

        <form action="/verify" class="login-hidden" id="login-form" method="POST">
          <div class="logo"></div>
          <label for="username">Username</label>
          <input type="text" name="username" id="login-username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="login-password" required>

          <%if (error != null) { %>
            <p class="error-msg" id="signup-error-msg"><%= error %></p>
          <% } %>

          <input type="button" name="signupbtn" value="SIGN UP" class="secondary-btn" id="login-signup-btn">
          <input type="submit" name="loginbtn" value="LOG IN" class="primary-btn" id="login-login-btn">
        </form>
      </div>
    </div>
  </body>
  <script>
    var signup;
    var missing_fields;

    var goToSignup = function() {
      $('#login-form').addClass('signup-hidden');
      $('#signup-form').addClass('signup-shown');
      $('#signup-form').removeClass('signup-hidden');
      $('#login-error-msg').addClass('signup-hidden');
      $('#login').css("height","130%")
    }

    $('#login-signup-btn').click(function() {
      goToSignup();
      signup = true;
      event.preventDefault();
    })

    $( document ).ready(function() {
      if (signup) {
        goToSignup();
      }
    });
  </script>
</html>
