<!DOCTYPE html>
<html>
<head>
  <title>Newsfeed</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/newsfeed.css">
  <script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="background">
      <div class="modal" id="newsfeed">
        <div class="modal-content">
          <p class="newsfeed-title">NEWSFEED</p>
          <div class="newsfeed-title-bar">
          </div>
          <form action="/postStatusUpdate" class="newsfeed-status-update" method="POST">
            <input class="newsfeed-status-input" type="text" id="newsfeed-status-input" placeholder="What's on your mind?" name="statusUpdate">
            <input type="submit" value="SHARE" class="secondary-btn" id="newsfeed-status-btn">
          </form>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her status.</div>
              <div class="newsfeed-status">Yesterday my friend kissed a boy. And she liked it! So much in fact, that she'll probably kiss the boy again.</div>
              <button type="button" class="newsfeed-like">LIKE</button>
              <div class="newsfeed-likes">25 likes</div>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Antonio Menarde</span> is now friends with Patrick Taggart.</div>
            </div>
          </div>

          <div class="newsfeed-card">
            <div class="newsfeed-prof-pic">
            </div>
            <div class="newsfeed-card-info">
              <div class="newsfeed-user-name"> <span class="newsfeed-clickable">Tiffany Yue</span> updated her affiliation to Bell Senior Society.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    var refresh = function() {
      setTimeout(refresh, 10000);
      updateFeed();
    }

    $(document).ready(function() {
      setTimeout(refresh, 10000);
      loadFeed();
    });

    //for each user post that we get back (assuming initially finite blob of data on initial route call, we render based on the type it is)
    var loadFeed = function() {
      $.get('/getFeedFor', function(data) {
        console.log("data is: " + data);
      });
    }

    var updateFeed = function() {
      $.get('/getFeedSince', function(data) {

      });
    }

    window.onLoad = loadFeed();
  </script>
</html>
